.container {
  max-width: 600px;
  margin: 30px auto;
  font-family: "Poppins", sans-serif;
  font-size: 100%;
}
.app {
  border: 3px solid black;
  border-radius: 5px;
  padding: 25px;
}
#greeting {
  margin-bottom: 18px;
  font-weight: 700;
}
.search .input {
  font-size: 1.25em;
  border: 3px solid black;
  border-radius: 25px;
  padding: 0px 10px;
}
.search .button-form {
  font-size: 1.125em;
  background: none;
  border: 3px solid black;
  border-radius: 20px;
  padding: 2px 8px;
}
#main-city {
  font-size: 3.1em;
  margin: 15px 0px 0px 0px;
}
.forecast {
  margin: 0px;
}
.col {
  padding: 0px;
  flex-wrap: nowrap;
}
.row {
  align-items: center;
  justify-content: center;
}
.weather-icon-col {
  font-size: 10em;
  display: flex;
  align-self: flex-end;
  justify-content: center;
}
#main-weather-info {
  justify-content: center;
  display: flex;
  align-self: flex-end;
}
#main-temperature {
  display: flex;
  font-size: 5em;

  margin: 0px;
  justify-content: flex-end;
}
.temperature-controls {
  font-size: 1.5em;
  display: flex;
  justify-content: flex-start;
  align-self: flex-end;
}
.temperature-button {
  font-size: 1.25em;
  border: none;
  background: none;
  border-radius: 20px;
  padding: 0px 5px;
}
.temperature-button:hover {
  cursor: pointer;
  font-weight: bolder;
}
.current-weather-info {
  font-size: 1em;
}
#main-weather-description {
  font-size: 1.25em;
  padding: 2px 0px;
  font-weight: 600;
  text-transform: capitalize;
}

.footer-link {
  position: absolute;
  bottom: 0;
  left: 0;
}
